.container{
    margin-top: 8em;
    margin-bottom: 10em;
    /* background-color: aqua; */
}
.row{
    margin-bottom: 3em;
}

li{
    margin-bottom: 1em;
}
.institution{
    font-weight: bold;
}


.progress {
    margin-bottom: 20px;
  }
  
  .progress-bar {
    width: 0;
  }
  
  .bg-purple {
    background-color: #825CD6 !important;
  }
  
  .progress .progress-bar {
    transition: unset;
  }