*{
    margin: 0; 
    border: 0;
    text-decoration: none;
    
}
img{
    height: 100%;
    width: 100%;
    
}
.nav-head{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.brand-name span{
    color: rgb(252,114,30)
}
.brand-name{
    margin-right: auto;
    text-transform: uppercase;
    align-self: center;
    font-size: 30px;
    animation-name: flip;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
@keyframes flip{
0%{
    -webkit-transform: perspective(400px) rotateY(90deg);
transform: perspective(400px) rotateY(90deg);
opacity: 0;
}
40% {
    -webkit-transform: perspective(400px) rotateY(-20deg);
    transform: perspective(400px) rotateY(-20deg);
}
60% {
    -webkit-transform: perspective(400px) rotateY(10deg);
    transform: perspective(400px) rotateY(10deg);
    opacity: 1;
}
80% {
    -webkit-transform: perspective(400px) rotateY(-5deg);
    transform: perspective(400px) rotateY(-5deg);
}
100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
}
}
.main{
    margin-top: 5em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
}
.welcome-main{
    width: 40%; 
    font-size: 24px;
    text-align: justify;
    
}
.welcome-main a{
    font-size: 20px;
}


.profile-image{
width: 300px;
height: 300px;
overflow: hidden;
}
.profile-image img{
    object-fit: cover;
    border-radius: 2rem;
}
.profile-image img:hover{
transform: scale(1.2);
transition: 2s;
}

.codesandbox{
    width: 30px;
    height: 30px;
}

.welcome-main span{
    font-weight: bolder;
    color: rgb(252,114,30);
}
.why-decagon{
    text-align: center;
    margin: 3em auto;
    
}
.why-decagon h2{
    text-transform: uppercase;
    margin-top: 2em;
    padding: 0 2em;
}
.why-decagon .card{
    border-radius: 20px;
    width: 60%;
    text-align: justify;
    margin: 0 auto;
    margin-top: 3em;
    padding: 2em;
    
}















@media only screen and (max-width: 900px){
    .welcome-section{
        height: 58rem;
    }
    .main{
        margin-top: 100px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        height: 54rem;
    }
    
    .navbarRight a{
        padding-right: .5rem;
        padding-left: .5rem;
        padding-top: .5rem;
        margin-right: .5rem;
        color:rgb(243, 239, 239)  ;
    
    }
    .welcome-main{
        position: absolute;
        top: 10%;
        left: 5%;
        
    }
    .welcome-main{
        width: 90%;
        margin-top: 80px;
        
    }
    
    .welcome-main p{
        margin-left: 5%;
            width: 90%;
            margin: 0 auto;
        }
    }